<div class="row">

    <div class="page-header">
        <h1>{{product.title}}</h1>
    </div>

    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>

    <div class="col-md-6 item-photo">
        <div class="thumbnail">
            <img style="max-width:100%;" src="{{product.imagePath}}"/>
        </div>
    </div>

    <div class="col-md-6">
        <h3 style="margin-top:0px;">PLN {{product.price}}</h3>

        <!-- Detalles especificos del producto -->
        <div class="section">
            <h6 class="title-attr" style="margin-top:15px;" ><small>COLOR</small></h6>
            <div>
                <div class="attr">Black</div>
                <div class="attr">White</div>
            </div>
        </div>
        <div class="section" style="padding-bottom:5px;">
            <h6 class="title-attr"><small>CAPACIDAD</small></h6>
            <div>
                <div class="attr2">16 GB</div>
                <div class="attr2">32 GB</div>
            </div>
        </div>
        <form class="form-group" action="/shopping-cart/add" method="get">
            <h6 class="title-attr"><small><label for="qty">QUANTITY</label></small></h6>
            <input type="number" name="qty" id="qty" class="form-control" value="1" min="1" step="1">
            <input type="hidden" name="productId" value="{{product._id}}">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart</button>
        </form>

            <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Add to wishlist</a></h6>

    </div>

    <div class="col-md-12">
        <p>{{product.description}}</p>
    </div>
</div>